
.container-fluid{padding:0px !important;}
.navbar{background:black !important; padding: 0rem 0rem; }
.navbar-brand{margin-right:40px; padding:10px 10px;}
.navbar-sub  li{margin-right:20px; padding:5px 15px;}
.navbar-sub  li a{font-size:16px !important; color:white !important;}

.navbar-brand:hover{background:#CCCCCC;}
.navbar-sub li:hover{background:#CCCCCC;}
.navbar .search{text-decoration:none; color:white; padding:13px 15px;}

.navbar .search:hover{background:red;}

.dropdown-menu .dropdown-item {color:black !important;}

.the-brand{padding-top:64px; padding-bottom:64px;}
.the-brand h2{text-align:center; letter-spacing:5px;}
.the-brand h5{text-align:center;font-size:15px; margin-top:20px;}
.the-brand p{margin:auto; text-align:justify; margin-top:20px; font-size:14px ; font-weight:bold; line-height:25px; margin-bottom:30px;}


.black-pht{ display: flex;
justify-content: space-around;}
.black-pht > *{flex:1;}

.black-pht .black-pht-sub {display:flex; flex-direction:column; align-items:center;}
.black-pht .black-pht-sub img{border-radius:5px; height:200px; }
.bg-dark{background:black !important; }
.tour-date{margin:auto; padding:64px 0px;}
.tour-date h1{text-align:center; color:white; letter-spacing:4px; margin-bottom:20px;}
.tour-date p{text-align:center; margin-bottom:30px;}


.tour-date-sub ul{ background:white;}
.tour-date-sub  ul li{ padding:10px; border-bottom:1px solid #A6A6A6; }
.tour-date-sub .badge{background:#F44336; margin-left:10px; color:white; font-size:15px;}
.card_parent{display:flex; justify-content:space-between; margin-top:20px; margin-bottom:30px;}

.card_parent > *{flex:1;  margin-right:15px; border:none; border-radius:5px; overflow:hidden;}

.card_parent .card:last-child{margin-right:0px;}
.card-header{padding:7px 20px !important;}
.card-header p{text-align:left; color:#848484;}


.the-contract{padding-top:64px; padding-bottom:64px;}
.the-contract h2{text-align:center; letter-spacing:5px;}
.the-contract p{text-align:center;}
.contract-form{padding-top:30px;

display:flex; 
justify-content:space-around;



}
.contract-form-one{flex:1.5;}
.contract-form-two{flex:1.8;}

.contract-form .contract-form-one p{text-align:left !important; font-size:18px; font-weight:bold; margin-bottom:5px;}
.contract-form .contract-form-one p i{margin-right:14px;}
.contract-form-one i{font-size:15px;}
.contract-form-two textarea{height:40px !important;}

.real-one{display:flex;}

.real-one .form-group{margin-right:10px;}

.real-one .form-group:last-child{margin-right:none;}

.the-contract{margin-bottom:60px !important;}

.footer{padding-bottom:64px; padding-top:64px;}

.footer{display:flex; justify-content:center; align-items:center; flex-direction:column;}
.footer-sub{display:flex;}

.list-inline{margin-right:5px;}
.list-inline li{transition:1s;}
.list-inline i{font-size:25px;}
.list-inline i:hover{color:#848484; transform:scale(1.1);}


/* tis is another modals form*/


.modal-header{background:#009688; padding:34px;}
.modal-header h2 i{margin-right:10px;}
.modal-header h2{margin:auto; color:white; font-weight:bold;}

.modal-header button{background:#EBEBEB;}

.modal-header .close{position:absolute !important;
  bottom:93% !important;
  left:91% !important;
  padding:11px 14px;}
  
.modal-body .btn{background:#15AABF;color:white; width:100%; text-align:center; padding:15px;}















































































































































































































































































































































































































































































